html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, Helvetica, sans-serif;
}

main {
	display: flex;
	justify-content: center;
}

p {
	margin: 5px 0;
	color: #555;
}

.color-info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	margin-top: 60px;
}

.color-sample {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.color-box {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
