html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, Helvetica, sans-serif;
}

main {
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 36px;
}

p {
	margin: 5px 0;
	color: #555;
}

label {
	display: block;
	margin-bottom: 8px;
}

select,
input {
	width: 100%;
	padding: 16px;
	border-radius: 6px;
	border-color: rgba(28, 39, 48, 0.25);
	color: rgba(28, 39, 48, 0.5);
	background-color: #fff;
	font-size: 16px;
	font-family: Poppins, Helvetica, sans-serif;
}

.select-wrapper {
	position: relative;
}

select {
	appearance: none;
}

.select-wrapper::after {
	appearance: none;
	content: "";
	position: absolute;
	right: 16px;
	top: 50%;
	width: 28px;
	height: 28px;
	mask-image: url(assets/svg/chevron-down-circle.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: right center;
	background-color: rgba(28, 39, 48, 0.5);
	transition: transform 0.3s ease;
}

.title::before {
	content: "";
	position: absolute;
	top: 74px;
	left: 52px;
	width: 95px;
	height: 96px;
	background-image: url(./assets/svg/logo.svg);
}

.main-container {
	padding: 118px 132px;
}

.main-container::after {
	content: "";
	position: absolute;
	top: -300px;
	right: -300px;
	width: 1000px;
	height: 1000px;
	background-image: url(assets/svg/red-donut.svg);
	background-repeat: no-repeat;
	background-size: 1000px;
	z-index: -1;
}

.widget-container {
	display: flex;
	gap: 100px;
}

.left-container,
.right-container {
	width: 50%;
}

/* COLOR SWATCHES */
.right-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.configuration-container {
	border-radius: 16px;
	width: 100%;
	padding: 38px;
	background-color: #fff;
	box-shadow: 0 0 21px 1px rgba(0, 0, 0, 0.16);
}

.accordion:not(:last-child) {
	padding-bottom: 20px;
	border-bottom-color: rgba(28, 39, 48, 0.5);
}

.accordion:not(:last-child).active {
	padding-bottom: 40px;
}

.accordion-heading {
	position: relative;
	display: flex;
	align-items: center;
	gap: 16px;
}

.accordion-heading::after {
	content: "";
	position: absolute;
	right: 0;
	width: 28px;
	height: 28px;
	mask-image: url(assets/svg/chevron-down-circle.svg);
	mask-size: contain;
	mask-repeat: no-repeat;
	background-color: rgba(28, 39, 48, 0.5);
	transition: transform 0.3s ease;
}

.accordion.active .accordion-heading::after {
	transform: rotateZ(180deg);
}

.color-box {
	width: 45px;
	height: 45px;
	border-radius: 10px;
	border: 1px solid #eee;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.accordion-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding-top: 0;
	overflow-y: hidden;
	transition: height 0.3s ease, padding 0.3s ease;
}

.accordion.active .accordion-content {
	padding-top: 20px;
}

.color-value {
	display: flex;
	align-items: center;
	gap: 6px;
}

.color-value span {
	padding: 10px;
	border-radius: 6px;
	background-color: #e3e3e3;
}
